header {
  /* border: solid; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: right;
  /* display: none; */
}
