.top_content {
  /* border: solid; */
  padding: 5vh 5vw 0 5vw;
}

.top_iam {
  /* border: solid; */
  font-size: 37rem;
  line-height: 1;
  float: left;
}

.top_icon {
  border-radius: 50%;
  width: 75rem;
  float: right;
}

.top_name {
  /* border: solid; */
  font-size: 13rem;
  margin-left: 0.5vw;
  line-height: 1;
  float: left;
}
